{% extends 'base.html' %}

{% block title %}Courses - Course Platform{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <main role="main" class="ml-sm-auto">

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 m-2">
                {% for course in courses_qs %}
                <div class="col">
                  <div class="card {% if course.author == user %}bg-info-subtle{% else %}text-bg-light{% endif %}">
                    <div class="card-header">{{ course.category }}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ course.title }}</h5>
                      <p class="card-text">{{ course.description }}</p>
                      <p class="card-text small">Начало: {{ course.date_start }}</p>
                      <p class="card-text small">Окончание: {{ course.date_stop }}</p>
                      <p class="card-text small">Приватный курс: {{ course.is_hidden }}</p>
                      <p class="card-text small">Автор: {{ course.author }}</p>
                    </div>
  
                    <div class="card-footer d-grid">
                      <a type="submit" class="btn btn-danger" href="{% url 'course_detail' course_id=course.id %}">Перейти на курс</a>
                      <small class="text-body-secondary">{{ course.author__username }}</small>
                    </div>              
                  </div>
                </div>
                {% endfor %}
              </div>

            </main>
        </div>
    </div>

{% endblock %}
