<!-- templates/course_detail.html -->

{% extends 'base.html' %}

{% load course_tags %}

{% block title %}Courses - {{ course.title }} - Course Platform{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Левая колонка с модулями и уроками -->
            <div class="col-md-4">
                {% render_left_column course %}
            </div>

            <!-- Правая колонка для отображения содержимого -->
            <div class="col-md-8">
                
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h3>{{ course.title }}</h3>
                        <p>{{ course.description }}</p>
                    </div>
                    {% if user.is_authenticated and user.is_staff %}
                        <div>
                            <a href="{% url 'edit_course' course_id=course.id %}" class="btn btn-primary">Редактировать курс</a>
                        </div>
                    {% endif %}  
                </div>
                <h4>Содержимое курса</h4>
                <ul>
                    {% for modules in modules_list %}
                        <h5>
                            <i class="bi bi-book"></i> <a href="{% url 'module_detail' course_id=course.id module_id=modules.module.id %}">{{ modules.module.title }}</a>
                        </h5>
                        <p>{{ modules.module.description }}</p>
                        <ol>
                            {% for lessons in modules.lessons %}
                                <h6>
                                    <i class="bi bi-file-earmark-text"></i> <a href="{% url 'lesson_detail' course_id=course.id module_id=modules.module.id  lesson_id=lessons.id %}">{{ lessons.title }}</a>
                                </h6>
                                <p>{{ lessons.description }}</p>
                            {% endfor %}
                        </ol>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
