<!-- templates/edit_lesson.html -->

{% extends 'base.html' %}

{% block title %}Edit Lesson - {{ lesson.title }} - Course Platform{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h2>Редактировать урок</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Название урока</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ lesson.title }}">
            </div>
            <div class="form-group">
                <label for="description">Описание урока</label>
                <textarea class="form-control" id="description" name="description">{{ lesson.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="content">Содержимое урока</label>
                <textarea class="form-control" id="content" name="content" rows="18">{{ lesson.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
