<!-- templates/lesson_detail.html -->

{% extends 'base.html' %}

{% load course_tags %}

{% block title %}Lesson - {{ lesson.title }} - Course Platform{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Левая колонка с модулями и уроками -->
            <div class="col-md-4">
                {% render_left_column course selected_module_id=module.id selected_lesson_id=lesson.id %}
            </div>

            <!-- Правая колонка для отображения содержимого -->
            <div class="col-md-8">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h3>                      
                            <a href="{% url 'module_detail' course_id=course.id module_id=module.id  %}"><b>{{ module.title }}</b></a>
                            {{ lesson.title }}
                        </h3>
                        <p>{{ lesson.description }}</p>
                    </div>
                    {% if user.is_authenticated and user.is_staff %}
                        <div>
                            <a href="{% url 'edit_lesson' course_id=course.id module_id=module.id lesson_id=lesson.id %}" class="btn btn-primary">Редактировать урок</a>
                        </div>
                    {% endif %}
                </div>

                {% if lesson.video_url %}
                    <h4>Видео урок</h4>
                    <p><a href="{{ lesson.video_url }}" target="_blank">Смотреть видео</a></p>
                {% endif %}

                <div class="mt-4">
                    {{ lesson.html|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
